html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: relative;
}

/* Main */
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/imagem-ipial.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.black-plan {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.7;
}

.hero {
  z-index: 10;
  display: flex;
  width: 80%;
  height: 60vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}

.hero h1 {
  font-size: 32pt;
}

.hero h3 a {
  font-size: 16pt;
  color: #fff;
  text-decoration: underline;
}

.curso-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex: 1;
}

.cursos {
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 90%;
  margin: 100px auto;
}

.cursos .curso {
  width: 70%;
  height: auto;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #ffffff;
  border-radius: 0.5em;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.cursos .curso:hover {
  transform: scale(1.03);
}

.cursos .curso img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: .5rem;
}

.cursos .curso div {
  display: flex;
  flex-direction: column;
  align-items: center;
  jsutify-content: center;
  gap: 2rem;
  width: 100%;
  height: 200px;
}

.cursos .curso h2 {
  font-size: 18pt;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-bottom: 4px;
  color: #000;
}

.cursos .curso p {
  font-size: 12pt;
  color: #666;
  padding: 0 12px;
  margin: 0;
  line-height: 1.2;
  text-align: left;
  flex: 1;
}

.botao {
  background: #000;
  padding: 0.4em;
  width: 90%;
  height: 20px
  margin: 8px auto;
  border-radius: 0.2em;
  text-align: center;
  color: white;
  display: inline-block;
}

.botao:hover {
  background: #2c2c2c;
}