  #rupi_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin:30px auto;
    border-radius:10px;
    width:50%;
    height: 40%;
    position:relative;
    padding:15px 20px;
    background-color:#ffffff;
    box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .4);
    margin-top: 200px;
  }

  #rupi_box #btn{
    border-radius:10px;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color:#024b75;
    color: #fff;

    &:hover{
        background-color:#68bdee;
        color:black
    }
  }

  
.arearupi{
    border-radius:10px;
    border: none;
    outline: none;
    padding: 20px 20px;
    font-size: 1.5rem;
    background-color:#26292b70;
    color: #ffffff;
    width: 50%;
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }